<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminTopServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.AdminTopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLeftServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.AdminLeftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillListServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.BillListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GotoBillEditPageServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.GotoBillEditPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillEditServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.BillEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderListServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.ProviderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GotoProviderEditPageServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.GotoProviderEditPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderEditServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.ProviderEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GotoUserEditPageServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.GotoUserEditPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.viapro.sm.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTopServlet</servlet-name>
    <url-pattern>/AdminTop.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLeftServlet</servlet-name>
    <url-pattern>/AdminLeft.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillListServlet</servlet-name>
    <url-pattern>/BillList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GotoBillEditPageServlet</servlet-name>
    <url-pattern>/GotoBillEditPage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillEditServlet</servlet-name>
    <url-pattern>/BillEdit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderListServlet</servlet-name>
    <url-pattern>/ProviderList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GotoProviderEditPageServlet</servlet-name>
    <url-pattern>/GotoProviderEditPage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderEditServlet</servlet-name>
    <url-pattern>/ProviderEdit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GotoUserEditPageServlet</servlet-name>
    <url-pattern>/GotoUserEditPage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEdit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>

  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.viapro.sm.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.viapro.sm.web.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>